

article {
    
    padding: 1rem;

    @media only screen and (min-width: 600px) { 
         flex: 1 0 60%;
    
    }




    li, ol {
        margin-left: 1rem;
        margin-bottom: 0.5rem;
    }

    /** this is an element selector and is used to select elements with a specific parent.**/
    li > h4 {
        margin-top: 12px;
    }




    h2, h3 {
        color: $basil-green;
        margin: 8px 0;
        font-size: 1.4rem;
        letter-spacing: -1px;
    }

   



}
