
    aside {
        background: url("img/html.png") repeat-y 100%;
            padding: 1rem;


             @media only screen and (min-width: 600px) { 
                    flex-grow: 1;
                flex-shrink: 0;
                flex-basis: 40%;

             }

            li {
            list-style: none;
        }

        a {
            color: #f90;
            text-decoration: none;
            transition: color 0.5s linear;
        }
    }



    