* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}



/** mobile first approach ==> specifically IPhone 5 **/


body {
    font: 100%/1.5 "Lucida Grande", "lucida Sans Unicode", Veranda, sans-serif;
    color: #333;
    width: 100%; /* ensurse width of element matches screen width */
    max-width: 840px;
    margin: 0 auto;
    margin-top: 0px;
     /* define background color variable */
    
}

::selection {
    background: $basil-green;
    color: #fff;

}







img {
    width:100%;
    height: auto;
    margin-top: 1px;
}

/** use psuedo elements to simulate columns instead of floats **/
/** expands content element **/

.content {
    @media only screen and (min-width: 600px) {
           display: flex;
    }
}

.content:after {
    content: " ";
    display: block;
    clear: both;
    height: 0;
    visibility: hidden;
}

/** animate links **/
.content a:hover {
    color: $basil-green;
}