@font-face {
  font-family: 'FuturaStdLight';
  src: url("fonts/futurastd-light-webfont.eot");
  src: url("fonts/futurastd-light-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/futurastd-light-webfont.woff") format("woff"), url("fonts/futurastd-light-webfont.ttf") format("truetype"), url("fonts/futurastd-light-webfont.svg#FuturaStdLight") format("svg");
  font-weight: normal;
  font-style: normal;
}