

/** moves footer from underneath last floated element, since content is collapsed
 content is STILL collasped. **/
footer {
   
    background-color: $basil-green;
    padding: 1rem;
    border-radius: 0 0 4px 4px;

    h3 {
        text-align: right;
    }

    p {
        text-align: right;
    }

}



