
/** branding header **/
header {
    /*position: relative;*/
    text-align: center;
    height: 7rem;
    background: $basil-green;
    border-radius: 8px 8px 0px 0px;

    @media only screen and (min-width: 600px) {
           position: relative;
    height: 120px;
    background: $basil-green;
    border-radius: 8px 8px 0px 0px;

    }



    h1 {
        background: url(img/basil.png) no-repeat;
        font-family: FuturaStdLight, sans-serif; 
        font-weight: normal;
        color:#fff;
        font-size: 4.5rem;
        background-position: -20px -20px;

          @media only screen and (min-width: 600px) {
            transform: translate(-100px, -80px);
            padding-left: 260px;
            padding-top: 90px;
            background-position: top left;


        }

    }

    a.beta {
        background: url('img/burst.svg') no-repeat;
        color: #fff;
        font-size: 1rem;
        position: absolute;
        top: 20px;
        right: 1px;
        width: 65px;
        height: 65px;
        line-height: 65px;
        text-align: center;
        text-transform: uppercase;

        transform: rotate(20deg);
        transition: all 1s ease;

    @media only screen and (min-width: 600px) {

        font-size: 1.5rem;
        top: -20px;
        right: 10px;
        width: 85px;
        height: 85px;
        line-height: 85px;
       

    }



    }

    a.beta:hover {
        transform: rotate(0deg) scale(1.2);
    }

}
