
/** IPhone 5 , in navigation element move buttons under header **/
nav {
    float: none;
    background: #e4e1d1;
    border-top: 0.5rem solid #ebbd4e;
    padding: 0.25rem;
    width: 100%;

    @media only screen and (min-width:375px ) and (max-width: 600px) {
        float: left;
        background: #e4e1d1;
        border-top: 0.5rem solid #ebbd4e;
        padding: 0.25rem;
        width: 100%;
  }

  @media only screen and (min-width:600px) {
      display: flex;
    align-items: center;
  }
}

nav p {
    display: none;
    
    @media only screen and (min-width:376px ) and (max-width: 600px) {
   
        display: block;
        float: left;
        margin-right: auto;    
    }

    @media only screen and (min-width:600px) {
        display: block;
        margin-right: auto;
    }

}
nav ul {
    float: none;
      @media only screen and (min-width:376px ) and (max-width: 600px) {
      float: right;
    }

     @media only screen and (min-width:600px) {
    display: flex;
  }
}

nav li {
    display: inline-block;
    margin-top: 1px;
    margin-bottom: 1px;

    @media only screen and (min-width:600px) {
    list-style: none;
        margin-right: 0.5rem;  
    }
}

nav a {
    text-align: center;
    font-size: 1rem;
    padding: 4px;
    color: #fff;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
    border-radius: 4px;
}

/** button text **/
nav a {
    text-align: center;
    font-size: 1rem;
    padding: 4px;
    color: #fff;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
    border-radius: 4px;
}

/** button colors **/

.nav-storeit a {
 background: linear-gradient(to bottom, #fcde41 1%, #dfa910 100%);
}

.nav-storeit a:hover {
 background: linear-gradient(to bottom, #dfa910 0%, #fcde41 100%);
}

.nav-pickit a {
  background: linear-gradient(to bottom, #abc841 0%, #6b861e 100%);
}

.nav-pickit a:hover {
  background: linear-gradient(to bottom, #6b861e 1%, #abc841 100%);
}

.nav-cookit a {
  background: linear-gradient(to bottom, #6f89c7 0%, #344e8b 100%);
}

.nav-cookit a:hover {
  background: linear-gradient(to bottom, #344e8b 1%, #6f89c7 100%);
}