
/** Popup window **/


.overlay {
     display: none;
	position: fixed;
	top: 0;
	left:  0;
	width: 100vw;
	height: 100vh;
	z-index: 10;
	background: rgba(0,0,0,0.5);

}

.betainfo {
    display: none;
    width: 12.5rem;
    height: 6.25rem;
    padding: 1rem;
    background: #fff;
    border: 2px solid #eabc5a;
    border-radius: 0.25rem;
    position: absolute;
    z-index: 2000;
    top: 100px;
    left:calc(50% - 100px);
    /** could also use a negative margin **/
    /*visibility: hidden;*/
}

.emphasis {
    color: red;
}

.closer {
    position: absolute;
    top: -10px;
    right: -10px;
    width: 1.5rem;
    height: 1.5rem;
    background: #fff;
    border: 2px solid #eabc5a;
    border-radius: 50%;
    text-align: center;
    line-height: 1.5rem;
    font-weight: bold;
}

.show {
  display: block !important; 
}