@font-face {
  font-family: 'FuturaStdLight';
  src: url("fonts/futurastd-light-webfont.eot");
  src: url("fonts/futurastd-light-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/futurastd-light-webfont.woff") format("woff"), url("fonts/futurastd-light-webfont.ttf") format("truetype"), url("fonts/futurastd-light-webfont.svg#FuturaStdLight") format("svg");
  font-weight: normal;
  font-style: normal;
}

/*!normalize.css v2.1.3|MIT License|git.io/normalize*/
/* line 10, /Applications/Scout-App.app/Contents/Resources/app.nw/scout-files/mixins/_normalize.sass */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

/* line 26, /Applications/Scout-App.app/Contents/Resources/app.nw/scout-files/mixins/_normalize.sass */
audio,
canvas,
video {
  display: inline-block;
}

/* line 34, /Applications/Scout-App.app/Contents/Resources/app.nw/scout-files/mixins/_normalize.sass */
audio:not([controls]) {
  display: none;
  height: 0;
}

/* line 41, /Applications/Scout-App.app/Contents/Resources/app.nw/scout-files/mixins/_normalize.sass */
[hidden],
template {
  display: none;
}

/* line 51, /Applications/Scout-App.app/Contents/Resources/app.nw/scout-files/mixins/_normalize.sass */
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
}

/* line 57, /Applications/Scout-App.app/Contents/Resources/app.nw/scout-files/mixins/_normalize.sass */
body {
  margin: 0;
}

/* line 64, /Applications/Scout-App.app/Contents/Resources/app.nw/scout-files/mixins/_normalize.sass */
a {
  background: transparent;
}

/* line 69, /Applications/Scout-App.app/Contents/Resources/app.nw/scout-files/mixins/_normalize.sass */
a:focus {
  outline: thin dotted;
}

/* line 74, /Applications/Scout-App.app/Contents/Resources/app.nw/scout-files/mixins/_normalize.sass */
a:active,
a:hover {
  outline: 0;
}

/* line 83, /Applications/Scout-App.app/Contents/Resources/app.nw/scout-files/mixins/_normalize.sass */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* line 89, /Applications/Scout-App.app/Contents/Resources/app.nw/scout-files/mixins/_normalize.sass */
abbr[title] {
  border-bottom: 1px dotted;
}

/* line 94, /Applications/Scout-App.app/Contents/Resources/app.nw/scout-files/mixins/_normalize.sass */
b,
strong {
  font-weight: bold;
}

/* line 100, /Applications/Scout-App.app/Contents/Resources/app.nw/scout-files/mixins/_normalize.sass */
dfn {
  font-style: italic;
}

/* line 105, /Applications/Scout-App.app/Contents/Resources/app.nw/scout-files/mixins/_normalize.sass */
hr {
  box-sizing: content-box;
  height: 0;
}

/* line 111, /Applications/Scout-App.app/Contents/Resources/app.nw/scout-files/mixins/_normalize.sass */
mark {
  background: #FF0;
  color: #000;
}

/* line 117, /Applications/Scout-App.app/Contents/Resources/app.nw/scout-files/mixins/_normalize.sass */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

/* line 126, /Applications/Scout-App.app/Contents/Resources/app.nw/scout-files/mixins/_normalize.sass */
pre {
  white-space: pre-wrap;
}

/* line 131, /Applications/Scout-App.app/Contents/Resources/app.nw/scout-files/mixins/_normalize.sass */
q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

/* line 136, /Applications/Scout-App.app/Contents/Resources/app.nw/scout-files/mixins/_normalize.sass */
small {
  font-size: 80%;
}

/* line 141, /Applications/Scout-App.app/Contents/Resources/app.nw/scout-files/mixins/_normalize.sass */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 148, /Applications/Scout-App.app/Contents/Resources/app.nw/scout-files/mixins/_normalize.sass */
sup {
  top: -0.5em;
}

/* line 151, /Applications/Scout-App.app/Contents/Resources/app.nw/scout-files/mixins/_normalize.sass */
sub {
  bottom: -0.25em;
}

/* line 158, /Applications/Scout-App.app/Contents/Resources/app.nw/scout-files/mixins/_normalize.sass */
img {
  border: 0;
}

/* line 163, /Applications/Scout-App.app/Contents/Resources/app.nw/scout-files/mixins/_normalize.sass */
svg:not(:root) {
  overflow: hidden;
}

/* line 170, /Applications/Scout-App.app/Contents/Resources/app.nw/scout-files/mixins/_normalize.sass */
figure {
  margin: 0;
}

/* line 177, /Applications/Scout-App.app/Contents/Resources/app.nw/scout-files/mixins/_normalize.sass */
fieldset {
  border: 1px solid #C0C0C0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/* line 185, /Applications/Scout-App.app/Contents/Resources/app.nw/scout-files/mixins/_normalize.sass */
legend {
  border: 0;
  padding: 0;
}

/* line 193, /Applications/Scout-App.app/Contents/Resources/app.nw/scout-files/mixins/_normalize.sass */
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

/* line 204, /Applications/Scout-App.app/Contents/Resources/app.nw/scout-files/mixins/_normalize.sass */
button,
input {
  line-height: normal;
}

/* line 213, /Applications/Scout-App.app/Contents/Resources/app.nw/scout-files/mixins/_normalize.sass */
button,
select {
  text-transform: none;
}

/* line 223, /Applications/Scout-App.app/Contents/Resources/app.nw/scout-files/mixins/_normalize.sass */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

/* line 232, /Applications/Scout-App.app/Contents/Resources/app.nw/scout-files/mixins/_normalize.sass */
button[disabled],
html input[disabled] {
  cursor: default;
}

/* line 239, /Applications/Scout-App.app/Contents/Resources/app.nw/scout-files/mixins/_normalize.sass */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

/* line 248, /Applications/Scout-App.app/Contents/Resources/app.nw/scout-files/mixins/_normalize.sass */
input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}

/* line 255, /Applications/Scout-App.app/Contents/Resources/app.nw/scout-files/mixins/_normalize.sass */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/* line 261, /Applications/Scout-App.app/Contents/Resources/app.nw/scout-files/mixins/_normalize.sass */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 269, /Applications/Scout-App.app/Contents/Resources/app.nw/scout-files/mixins/_normalize.sass */
textarea {
  overflow: auto;
  vertical-align: top;
}

/* line 277, /Applications/Scout-App.app/Contents/Resources/app.nw/scout-files/mixins/_normalize.sass */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

@media only screen and (min-width: 600px) {
  /* line 6, /Users/danieldeverell/Desktop/_NYU-github/_front-end-foundations/session6/sass/imports/_structure.scss */
  .content {
    display: flex;
  }
  /* line 10, /Users/danieldeverell/Desktop/_NYU-github/_front-end-foundations/session6/sass/imports/_structure.scss */
  article {
    flex: 1 0 60%;
  }
}

/* line 1, /Users/danieldeverell/Desktop/_NYU-github/_front-end-foundations/session6/sass/imports/_base.scss */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* line 7, /Users/danieldeverell/Desktop/_NYU-github/_front-end-foundations/session6/sass/imports/_base.scss */
::selection {
  background: #88a308;
  color: #fff;
}

/* line 12, /Users/danieldeverell/Desktop/_NYU-github/_front-end-foundations/session6/sass/imports/_base.scss */
body {
  font: 100%/1.5  "Lucida Grande", "Lucida Sans Unicode", Verdana, sans-serif;
  color: #333;
  max-width: 840px;
  margin: 0 auto;
  margin-top: 24px;
}

/* line 20, /Users/danieldeverell/Desktop/_NYU-github/_front-end-foundations/session6/sass/imports/_base.scss */
h2, h3 {
  color: #88a308;
  margin: 8px 0;
  font-size: 1.4rem;
  letter-spacing: -1px;
}

/* line 27, /Users/danieldeverell/Desktop/_NYU-github/_front-end-foundations/session6/sass/imports/_base.scss */
a {
  color: #f90;
  text-decoration: none;
  transition: color 0.5s linear;
}

/* line 33, /Users/danieldeverell/Desktop/_NYU-github/_front-end-foundations/session6/sass/imports/_base.scss */
li > h4 {
  margin-top: 12px;
}

/* line 38, /Users/danieldeverell/Desktop/_NYU-github/_front-end-foundations/session6/sass/imports/_base.scss */
aside li {
  list-style: none;
}

@media (min-width: 600px) {
  /* line 37, /Users/danieldeverell/Desktop/_NYU-github/_front-end-foundations/session6/sass/imports/_base.scss */
  aside {
    background: #f5faef;
    box-shadow: -4px 0 4px #ddd;
  }
}

/* line 47, /Users/danieldeverell/Desktop/_NYU-github/_front-end-foundations/session6/sass/imports/_base.scss */
article li, article ol {
  margin-left: 1rem;
  margin-bottom: 0.5rem;
}

/* line 52, /Users/danieldeverell/Desktop/_NYU-github/_front-end-foundations/session6/sass/imports/_base.scss */
img {
  width: 100%;
  height: auto;
}

/* line 57, /Users/danieldeverell/Desktop/_NYU-github/_front-end-foundations/session6/sass/imports/_base.scss */
.content a:hover {
  color: #88a308;
}

/* line 61, /Users/danieldeverell/Desktop/_NYU-github/_front-end-foundations/session6/sass/imports/_base.scss */
article, aside {
  padding: 1rem;
}

/* line 65, /Users/danieldeverell/Desktop/_NYU-github/_front-end-foundations/session6/sass/imports/_base.scss */
footer {
  background: #88a308;
  padding: 1rem;
  border-radius: 0 0 4px 4px;
}

/* popover styles */
/* line 2, /Users/danieldeverell/Desktop/_NYU-github/_front-end-foundations/session6/sass/imports/_popover.scss */
.betainfo {
  width: 200px;
  height: 100px;
  padding: 1rem;
  background: #fff;
  border: 2px solid #eabc5a;
  border-radius: 0.25rem;
  position: absolute;
  z-index: 2000;
  top: 50vh;
  left: calc(50vw - 100px);
  display: none;
}

/* line 16, /Users/danieldeverell/Desktop/_NYU-github/_front-end-foundations/session6/sass/imports/_popover.scss */
.closer {
  position: absolute;
  top: -10px;
  right: -10px;
  width: 1.5rem;
  height: 1.5rem;
  background: #fff;
  border: 2px solid #eabc5a;
  border-radius: 50%;
  text-align: center;
  line-height: 1.5rem;
  font-weight: bold;
}

/* line 30, /Users/danieldeverell/Desktop/_NYU-github/_front-end-foundations/session6/sass/imports/_popover.scss */
.shader {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.5);
}

/* line 41, /Users/danieldeverell/Desktop/_NYU-github/_front-end-foundations/session6/sass/imports/_popover.scss */
.show {
  display: block !important;
}

/* line 1, /Users/danieldeverell/Desktop/_NYU-github/_front-end-foundations/session6/sass/imports/_header.scss */
header {
  position: relative;
  height: 120px;
  background: #88a308;
  border-radius: 8px 8px 0 0;
}

/* line 7, /Users/danieldeverell/Desktop/_NYU-github/_front-end-foundations/session6/sass/imports/_header.scss */
header h1 {
  background: url(img/basil.png) no-repeat;
  font-family: FuturaStdLight, sans-serif;
  font-weight: normal;
  color: #fff;
  font-size: 5rem;
  background-position: -20px -20px;
}

@media (min-width: 600px) {
  /* line 7, /Users/danieldeverell/Desktop/_NYU-github/_front-end-foundations/session6/sass/imports/_header.scss */
  header h1 {
    padding-left: 240px;
    padding-top: 90px;
    transform: translate(-100px, -80px);
    background-position: top left;
  }
}

/* line 23, /Users/danieldeverell/Desktop/_NYU-github/_front-end-foundations/session6/sass/imports/_header.scss */
header .beta {
  background: url("img/burst.svg") no-repeat;
  color: #fff;
  font-size: 1.5rem;
  position: absolute;
  top: -20px;
  right: 10px;
  width: 85px;
  height: 85px;
  line-height: 85px;
  text-align: center;
  text-transform: uppercase;
  transform: rotate(20deg);
  transition: all 1s ease;
}

/* line 39, /Users/danieldeverell/Desktop/_NYU-github/_front-end-foundations/session6/sass/imports/_header.scss */
header .beta:hover {
  transform: rotate(0deg) scale(1.2);
}

/* line 2, /Users/danieldeverell/Desktop/_NYU-github/_front-end-foundations/session6/sass/imports/_nav.scss */
nav {
  background: #e4e1d1;
  border-top: 0.5rem solid #ebbd4e;
  padding: 0.5rem;
  display: flex;
  align-items: center;
}

/* line 10, /Users/danieldeverell/Desktop/_NYU-github/_front-end-foundations/session6/sass/imports/_nav.scss */
nav ul {
  display: flex;
}

/* line 14, /Users/danieldeverell/Desktop/_NYU-github/_front-end-foundations/session6/sass/imports/_nav.scss */
nav li {
  list-style: none;
  margin-right: 0.5rem;
}

/* line 19, /Users/danieldeverell/Desktop/_NYU-github/_front-end-foundations/session6/sass/imports/_nav.scss */
nav p {
  display: none;
}

@media (min-width: 360px) {
  /* line 19, /Users/danieldeverell/Desktop/_NYU-github/_front-end-foundations/session6/sass/imports/_nav.scss */
  nav p {
    display: block;
    margin-right: auto;
  }
}

/* line 29, /Users/danieldeverell/Desktop/_NYU-github/_front-end-foundations/session6/sass/imports/_nav.scss */
nav a {
  text-align: center;
  font-size: 1.5rem;
  padding: 8px;
  color: #fff;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  border-radius: 6px;
}

/* line 38, /Users/danieldeverell/Desktop/_NYU-github/_front-end-foundations/session6/sass/imports/_nav.scss */
nav .nav-storeit a {
  background: linear-gradient(to bottom, #fcde41 1%, #dfa910 100%);
}

/* line 42, /Users/danieldeverell/Desktop/_NYU-github/_front-end-foundations/session6/sass/imports/_nav.scss */
nav .nav-storeit a:hover {
  background: linear-gradient(to bottom, #dfa910 0%, #fcde41 100%);
}

/* line 46, /Users/danieldeverell/Desktop/_NYU-github/_front-end-foundations/session6/sass/imports/_nav.scss */
nav .nav-pickit a {
  background: linear-gradient(to bottom, #abc841 0%, #6b861e 100%);
}

/* line 50, /Users/danieldeverell/Desktop/_NYU-github/_front-end-foundations/session6/sass/imports/_nav.scss */
nav .nav-pickit a:hover {
  background: linear-gradient(to bottom, #6b861e 1%, #abc841 100%);
}

/* line 54, /Users/danieldeverell/Desktop/_NYU-github/_front-end-foundations/session6/sass/imports/_nav.scss */
nav .nav-cookit a {
  background: linear-gradient(to bottom, #6f89c7 0%, #344e8b 100%);
}

/* line 58, /Users/danieldeverell/Desktop/_NYU-github/_front-end-foundations/session6/sass/imports/_nav.scss */
nav .nav-cookit a:hover {
  background: linear-gradient(to bottom, #344e8b 1%, #6f89c7 100%);
}

/*# sourceMappingURL=../app/css/styles.map */