/*!normalize.css v2.1.3|MIT License|git.io/normalize*/
/* line 10, /Applications/Utilities/Scout-App.app/Contents/Resources/app.nw/scout-files/mixins/_normalize.sass */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

/* line 26, /Applications/Utilities/Scout-App.app/Contents/Resources/app.nw/scout-files/mixins/_normalize.sass */
audio,
canvas,
video {
  display: inline-block;
}

/* line 34, /Applications/Utilities/Scout-App.app/Contents/Resources/app.nw/scout-files/mixins/_normalize.sass */
audio:not([controls]) {
  display: none;
  height: 0;
}

/* line 41, /Applications/Utilities/Scout-App.app/Contents/Resources/app.nw/scout-files/mixins/_normalize.sass */
[hidden],
template {
  display: none;
}

/* line 51, /Applications/Utilities/Scout-App.app/Contents/Resources/app.nw/scout-files/mixins/_normalize.sass */
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
}

/* line 57, /Applications/Utilities/Scout-App.app/Contents/Resources/app.nw/scout-files/mixins/_normalize.sass */
body {
  margin: 0;
}

/* line 64, /Applications/Utilities/Scout-App.app/Contents/Resources/app.nw/scout-files/mixins/_normalize.sass */
a {
  background: transparent;
}

/* line 69, /Applications/Utilities/Scout-App.app/Contents/Resources/app.nw/scout-files/mixins/_normalize.sass */
a:focus {
  outline: thin dotted;
}

/* line 74, /Applications/Utilities/Scout-App.app/Contents/Resources/app.nw/scout-files/mixins/_normalize.sass */
a:active,
a:hover {
  outline: 0;
}

/* line 83, /Applications/Utilities/Scout-App.app/Contents/Resources/app.nw/scout-files/mixins/_normalize.sass */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* line 89, /Applications/Utilities/Scout-App.app/Contents/Resources/app.nw/scout-files/mixins/_normalize.sass */
abbr[title] {
  border-bottom: 1px dotted;
}

/* line 94, /Applications/Utilities/Scout-App.app/Contents/Resources/app.nw/scout-files/mixins/_normalize.sass */
b,
strong {
  font-weight: bold;
}

/* line 100, /Applications/Utilities/Scout-App.app/Contents/Resources/app.nw/scout-files/mixins/_normalize.sass */
dfn {
  font-style: italic;
}

/* line 105, /Applications/Utilities/Scout-App.app/Contents/Resources/app.nw/scout-files/mixins/_normalize.sass */
hr {
  box-sizing: content-box;
  height: 0;
}

/* line 111, /Applications/Utilities/Scout-App.app/Contents/Resources/app.nw/scout-files/mixins/_normalize.sass */
mark {
  background: #FF0;
  color: #000;
}

/* line 117, /Applications/Utilities/Scout-App.app/Contents/Resources/app.nw/scout-files/mixins/_normalize.sass */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

/* line 126, /Applications/Utilities/Scout-App.app/Contents/Resources/app.nw/scout-files/mixins/_normalize.sass */
pre {
  white-space: pre-wrap;
}

/* line 131, /Applications/Utilities/Scout-App.app/Contents/Resources/app.nw/scout-files/mixins/_normalize.sass */
q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

/* line 136, /Applications/Utilities/Scout-App.app/Contents/Resources/app.nw/scout-files/mixins/_normalize.sass */
small {
  font-size: 80%;
}

/* line 141, /Applications/Utilities/Scout-App.app/Contents/Resources/app.nw/scout-files/mixins/_normalize.sass */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 148, /Applications/Utilities/Scout-App.app/Contents/Resources/app.nw/scout-files/mixins/_normalize.sass */
sup {
  top: -0.5em;
}

/* line 151, /Applications/Utilities/Scout-App.app/Contents/Resources/app.nw/scout-files/mixins/_normalize.sass */
sub {
  bottom: -0.25em;
}

/* line 158, /Applications/Utilities/Scout-App.app/Contents/Resources/app.nw/scout-files/mixins/_normalize.sass */
img {
  border: 0;
}

/* line 163, /Applications/Utilities/Scout-App.app/Contents/Resources/app.nw/scout-files/mixins/_normalize.sass */
svg:not(:root) {
  overflow: hidden;
}

/* line 170, /Applications/Utilities/Scout-App.app/Contents/Resources/app.nw/scout-files/mixins/_normalize.sass */
figure {
  margin: 0;
}

/* line 177, /Applications/Utilities/Scout-App.app/Contents/Resources/app.nw/scout-files/mixins/_normalize.sass */
fieldset {
  border: 1px solid #C0C0C0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/* line 185, /Applications/Utilities/Scout-App.app/Contents/Resources/app.nw/scout-files/mixins/_normalize.sass */
legend {
  border: 0;
  padding: 0;
}

/* line 193, /Applications/Utilities/Scout-App.app/Contents/Resources/app.nw/scout-files/mixins/_normalize.sass */
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

/* line 204, /Applications/Utilities/Scout-App.app/Contents/Resources/app.nw/scout-files/mixins/_normalize.sass */
button,
input {
  line-height: normal;
}

/* line 213, /Applications/Utilities/Scout-App.app/Contents/Resources/app.nw/scout-files/mixins/_normalize.sass */
button,
select {
  text-transform: none;
}

/* line 223, /Applications/Utilities/Scout-App.app/Contents/Resources/app.nw/scout-files/mixins/_normalize.sass */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

/* line 232, /Applications/Utilities/Scout-App.app/Contents/Resources/app.nw/scout-files/mixins/_normalize.sass */
button[disabled],
html input[disabled] {
  cursor: default;
}

/* line 239, /Applications/Utilities/Scout-App.app/Contents/Resources/app.nw/scout-files/mixins/_normalize.sass */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

/* line 248, /Applications/Utilities/Scout-App.app/Contents/Resources/app.nw/scout-files/mixins/_normalize.sass */
input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}

/* line 255, /Applications/Utilities/Scout-App.app/Contents/Resources/app.nw/scout-files/mixins/_normalize.sass */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/* line 261, /Applications/Utilities/Scout-App.app/Contents/Resources/app.nw/scout-files/mixins/_normalize.sass */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 269, /Applications/Utilities/Scout-App.app/Contents/Resources/app.nw/scout-files/mixins/_normalize.sass */
textarea {
  overflow: auto;
  vertical-align: top;
}

/* line 277, /Applications/Utilities/Scout-App.app/Contents/Resources/app.nw/scout-files/mixins/_normalize.sass */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: 'FuturaStdLight';
  src: url("fonts/futurastd-light-webfont.eot");
  src: url("fonts/futurastd-light-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/futurastd-light-webfont.woff") format("woff"), url("fonts/futurastd-light-webfont.ttf") format("truetype"), url("fonts/futurastd-light-webfont.svg#FuturaStdLight") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 1, /Users/havilez2/Sites/FrontEndFoundations/front-end-foundations-session6/HW/sass/imports/_base.scss */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/** mobile first approach ==> specifically IPhone 5 **/
/* line 13, /Users/havilez2/Sites/FrontEndFoundations/front-end-foundations-session6/HW/sass/imports/_base.scss */
body {
  font: 100%/1.5 "Lucida Grande", "lucida Sans Unicode", Veranda, sans-serif;
  color: #333;
  width: 100%;
  /* ensurse width of element matches screen width */
  max-width: 840px;
  margin: 0 auto;
  margin-top: 0px;
  /* define background color variable */
}

/* line 24, /Users/havilez2/Sites/FrontEndFoundations/front-end-foundations-session6/HW/sass/imports/_base.scss */
::selection {
  background: #88a308;
  color: #fff;
}

/* line 36, /Users/havilez2/Sites/FrontEndFoundations/front-end-foundations-session6/HW/sass/imports/_base.scss */
img {
  width: 100%;
  height: auto;
  margin-top: 1px;
}

/** use psuedo elements to simulate columns instead of floats **/
/** expands content element **/
@media only screen and (min-width: 600px) {
  /* line 45, /Users/havilez2/Sites/FrontEndFoundations/front-end-foundations-session6/HW/sass/imports/_base.scss */
  .content {
    display: flex;
  }
}

/* line 51, /Users/havilez2/Sites/FrontEndFoundations/front-end-foundations-session6/HW/sass/imports/_base.scss */
.content:after {
  content: " ";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}

/** animate links **/
/* line 60, /Users/havilez2/Sites/FrontEndFoundations/front-end-foundations-session6/HW/sass/imports/_base.scss */
.content a:hover {
  color: #88a308;
}

/** Popup window **/
/* line 5, /Users/havilez2/Sites/FrontEndFoundations/front-end-foundations-session6/HW/sass/imports/_popover.scss */
.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 10;
  background: rgba(0, 0, 0, 0.5);
}

/* line 17, /Users/havilez2/Sites/FrontEndFoundations/front-end-foundations-session6/HW/sass/imports/_popover.scss */
.betainfo {
  display: none;
  width: 12.5rem;
  height: 6.25rem;
  padding: 1rem;
  background: #fff;
  border: 2px solid #eabc5a;
  border-radius: 0.25rem;
  position: absolute;
  z-index: 2000;
  top: 100px;
  left: calc(50% - 100px);
  /** could also use a negative margin **/
  /*visibility: hidden;*/
}

/* line 33, /Users/havilez2/Sites/FrontEndFoundations/front-end-foundations-session6/HW/sass/imports/_popover.scss */
.emphasis {
  color: red;
}

/* line 37, /Users/havilez2/Sites/FrontEndFoundations/front-end-foundations-session6/HW/sass/imports/_popover.scss */
.closer {
  position: absolute;
  top: -10px;
  right: -10px;
  width: 1.5rem;
  height: 1.5rem;
  background: #fff;
  border: 2px solid #eabc5a;
  border-radius: 50%;
  text-align: center;
  line-height: 1.5rem;
  font-weight: bold;
}

/* line 51, /Users/havilez2/Sites/FrontEndFoundations/front-end-foundations-session6/HW/sass/imports/_popover.scss */
.show {
  display: block !important;
}

/** branding header **/
/* line 3, /Users/havilez2/Sites/FrontEndFoundations/front-end-foundations-session6/HW/sass/imports/_header.scss */
header {
  /*position: relative;*/
  text-align: center;
  height: 7rem;
  background: #88a308;
  border-radius: 8px 8px 0px 0px;
}

@media only screen and (min-width: 600px) {
  /* line 3, /Users/havilez2/Sites/FrontEndFoundations/front-end-foundations-session6/HW/sass/imports/_header.scss */
  header {
    position: relative;
    height: 120px;
    background: #88a308;
    border-radius: 8px 8px 0px 0px;
  }
}

/* line 20, /Users/havilez2/Sites/FrontEndFoundations/front-end-foundations-session6/HW/sass/imports/_header.scss */
header h1 {
  background: url(img/basil.png) no-repeat;
  font-family: FuturaStdLight, sans-serif;
  font-weight: normal;
  color: #fff;
  font-size: 4.5rem;
  background-position: -20px -20px;
}

@media only screen and (min-width: 600px) {
  /* line 20, /Users/havilez2/Sites/FrontEndFoundations/front-end-foundations-session6/HW/sass/imports/_header.scss */
  header h1 {
    transform: translate(-100px, -80px);
    padding-left: 260px;
    padding-top: 90px;
    background-position: top left;
  }
}

/* line 39, /Users/havilez2/Sites/FrontEndFoundations/front-end-foundations-session6/HW/sass/imports/_header.scss */
header a.beta {
  background: url("img/burst.svg") no-repeat;
  color: #fff;
  font-size: 1rem;
  position: absolute;
  top: 20px;
  right: 1px;
  width: 65px;
  height: 65px;
  line-height: 65px;
  text-align: center;
  text-transform: uppercase;
  transform: rotate(20deg);
  transition: all 1s ease;
}

@media only screen and (min-width: 600px) {
  /* line 39, /Users/havilez2/Sites/FrontEndFoundations/front-end-foundations-session6/HW/sass/imports/_header.scss */
  header a.beta {
    font-size: 1.5rem;
    top: -20px;
    right: 10px;
    width: 85px;
    height: 85px;
    line-height: 85px;
  }
}

/* line 71, /Users/havilez2/Sites/FrontEndFoundations/front-end-foundations-session6/HW/sass/imports/_header.scss */
header a.beta:hover {
  transform: rotate(0deg) scale(1.2);
}

/** IPhone 5 , in navigation element move buttons under header **/
/* line 3, /Users/havilez2/Sites/FrontEndFoundations/front-end-foundations-session6/HW/sass/imports/_nav.scss */
nav {
  float: none;
  background: #e4e1d1;
  border-top: 0.5rem solid #ebbd4e;
  padding: 0.25rem;
  width: 100%;
}

@media only screen and (min-width: 375px) and (max-width: 600px) {
  /* line 3, /Users/havilez2/Sites/FrontEndFoundations/front-end-foundations-session6/HW/sass/imports/_nav.scss */
  nav {
    float: left;
    background: #e4e1d1;
    border-top: 0.5rem solid #ebbd4e;
    padding: 0.25rem;
    width: 100%;
  }
}

@media only screen and (min-width: 600px) {
  /* line 3, /Users/havilez2/Sites/FrontEndFoundations/front-end-foundations-session6/HW/sass/imports/_nav.scss */
  nav {
    display: flex;
    align-items: center;
  }
}

/* line 24, /Users/havilez2/Sites/FrontEndFoundations/front-end-foundations-session6/HW/sass/imports/_nav.scss */
nav p {
  display: none;
}

@media only screen and (min-width: 376px) and (max-width: 600px) {
  /* line 24, /Users/havilez2/Sites/FrontEndFoundations/front-end-foundations-session6/HW/sass/imports/_nav.scss */
  nav p {
    display: block;
    float: left;
    margin-right: auto;
  }
}

@media only screen and (min-width: 600px) {
  /* line 24, /Users/havilez2/Sites/FrontEndFoundations/front-end-foundations-session6/HW/sass/imports/_nav.scss */
  nav p {
    display: block;
    margin-right: auto;
  }
}

/* line 40, /Users/havilez2/Sites/FrontEndFoundations/front-end-foundations-session6/HW/sass/imports/_nav.scss */
nav ul {
  float: none;
}

@media only screen and (min-width: 376px) and (max-width: 600px) {
  /* line 40, /Users/havilez2/Sites/FrontEndFoundations/front-end-foundations-session6/HW/sass/imports/_nav.scss */
  nav ul {
    float: right;
  }
}

@media only screen and (min-width: 600px) {
  /* line 40, /Users/havilez2/Sites/FrontEndFoundations/front-end-foundations-session6/HW/sass/imports/_nav.scss */
  nav ul {
    display: flex;
  }
}

/* line 51, /Users/havilez2/Sites/FrontEndFoundations/front-end-foundations-session6/HW/sass/imports/_nav.scss */
nav li {
  display: inline-block;
  margin-top: 1px;
  margin-bottom: 1px;
}

@media only screen and (min-width: 600px) {
  /* line 51, /Users/havilez2/Sites/FrontEndFoundations/front-end-foundations-session6/HW/sass/imports/_nav.scss */
  nav li {
    list-style: none;
    margin-right: 0.5rem;
  }
}

/* line 62, /Users/havilez2/Sites/FrontEndFoundations/front-end-foundations-session6/HW/sass/imports/_nav.scss */
nav a {
  text-align: center;
  font-size: 1rem;
  padding: 4px;
  color: #fff;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  border-radius: 4px;
}

/** button text **/
/* line 72, /Users/havilez2/Sites/FrontEndFoundations/front-end-foundations-session6/HW/sass/imports/_nav.scss */
nav a {
  text-align: center;
  font-size: 1rem;
  padding: 4px;
  color: #fff;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  border-radius: 4px;
}

/** button colors **/
/* line 83, /Users/havilez2/Sites/FrontEndFoundations/front-end-foundations-session6/HW/sass/imports/_nav.scss */
.nav-storeit a {
  background: linear-gradient(to bottom, #fcde41 1%, #dfa910 100%);
}

/* line 87, /Users/havilez2/Sites/FrontEndFoundations/front-end-foundations-session6/HW/sass/imports/_nav.scss */
.nav-storeit a:hover {
  background: linear-gradient(to bottom, #dfa910 0%, #fcde41 100%);
}

/* line 91, /Users/havilez2/Sites/FrontEndFoundations/front-end-foundations-session6/HW/sass/imports/_nav.scss */
.nav-pickit a {
  background: linear-gradient(to bottom, #abc841 0%, #6b861e 100%);
}

/* line 95, /Users/havilez2/Sites/FrontEndFoundations/front-end-foundations-session6/HW/sass/imports/_nav.scss */
.nav-pickit a:hover {
  background: linear-gradient(to bottom, #6b861e 1%, #abc841 100%);
}

/* line 99, /Users/havilez2/Sites/FrontEndFoundations/front-end-foundations-session6/HW/sass/imports/_nav.scss */
.nav-cookit a {
  background: linear-gradient(to bottom, #6f89c7 0%, #344e8b 100%);
}

/* line 103, /Users/havilez2/Sites/FrontEndFoundations/front-end-foundations-session6/HW/sass/imports/_nav.scss */
.nav-cookit a:hover {
  background: linear-gradient(to bottom, #344e8b 1%, #6f89c7 100%);
}

/* line 3, /Users/havilez2/Sites/FrontEndFoundations/front-end-foundations-session6/HW/sass/imports/_article.scss */
article {
  padding: 1rem;
  /** this is an element selector and is used to select elements with a specific parent.**/
}

@media only screen and (min-width: 600px) {
  /* line 3, /Users/havilez2/Sites/FrontEndFoundations/front-end-foundations-session6/HW/sass/imports/_article.scss */
  article {
    flex: 1 0 60%;
  }
}

/* line 15, /Users/havilez2/Sites/FrontEndFoundations/front-end-foundations-session6/HW/sass/imports/_article.scss */
article li, article ol {
  margin-left: 1rem;
  margin-bottom: 0.5rem;
}

/* line 21, /Users/havilez2/Sites/FrontEndFoundations/front-end-foundations-session6/HW/sass/imports/_article.scss */
article li > h4 {
  margin-top: 12px;
}

/* line 28, /Users/havilez2/Sites/FrontEndFoundations/front-end-foundations-session6/HW/sass/imports/_article.scss */
article h2, article h3 {
  color: #88a308;
  margin: 8px 0;
  font-size: 1.4rem;
  letter-spacing: -1px;
}

/* line 2, /Users/havilez2/Sites/FrontEndFoundations/front-end-foundations-session6/HW/sass/imports/_aside.scss */
aside {
  background: url("img/html.png") repeat-y 100%;
  padding: 1rem;
}

@media only screen and (min-width: 600px) {
  /* line 2, /Users/havilez2/Sites/FrontEndFoundations/front-end-foundations-session6/HW/sass/imports/_aside.scss */
  aside {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 40%;
  }
}

/* line 14, /Users/havilez2/Sites/FrontEndFoundations/front-end-foundations-session6/HW/sass/imports/_aside.scss */
aside li {
  list-style: none;
}

/* line 18, /Users/havilez2/Sites/FrontEndFoundations/front-end-foundations-session6/HW/sass/imports/_aside.scss */
aside a {
  color: #f90;
  text-decoration: none;
  transition: color 0.5s linear;
}

/** moves footer from underneath last floated element, since content is collapsed
 content is STILL collasped. **/
/* line 5, /Users/havilez2/Sites/FrontEndFoundations/front-end-foundations-session6/HW/sass/imports/_footer.scss */
footer {
  background-color: #88a308;
  padding: 1rem;
  border-radius: 0 0 4px 4px;
}

/* line 11, /Users/havilez2/Sites/FrontEndFoundations/front-end-foundations-session6/HW/sass/imports/_footer.scss */
footer h3 {
  text-align: right;
}

/* line 15, /Users/havilez2/Sites/FrontEndFoundations/front-end-foundations-session6/HW/sass/imports/_footer.scss */
footer p {
  text-align: right;
}

/*# sourceMappingURL=../app/css/styles.map */