* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}

::selection {
  background: #88a308;
  color: #fff; 
}

body {
  font: 100%/1.5  "Lucida Grande", "Lucida Sans Unicode", Verdana, sans-serif;
  color: #333;
  max-width: 840px;
  margin: 0 auto;
  margin-top: 24px; 
}

h2, h3 {
  color: #88a308;
  margin: 8px 0;
  font-size: 1.4rem;
  letter-spacing: -1px; 
}

a {
  color: #f90;
  text-decoration: none;
  transition: color 0.5s linear; 
}

li > h4 {
  margin-top: 12px; 
}

aside {
  li {
    list-style: none; 
  }
  @media (min-width: $break-medium){
    background: #f5faef;
    box-shadow: -4px 0 4px #ddd; 
  }
}

article li, article ol {
  margin-left: 1rem;
  margin-bottom: 0.5rem; 
}

img {
  width: 100%;
  height: auto; 
}

.content {
  
}

.content a:hover {
  color: #88a308; 
}

article, aside {
  padding: 1rem; 
}

footer {
  background: #88a308;
  padding: 1rem;
  border-radius: 0 0 4px 4px; 
}
