
nav {
  background: #e4e1d1;
  border-top: 0.5rem solid #ebbd4e;
  padding: 0.5rem;
  display: flex;
  align-items: center; 


  ul {
    display: flex; 
  }

  li {
    list-style: none;
    margin-right: 0.5rem; 
  }

  p { 
      display: none;
      @media (min-width: 360px){
        display: block;
        margin-right: auto;
      }
  }



  a {
    text-align: center;
    font-size: 1.5rem;
    padding: 8px;
    color: #fff;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
    border-radius: 6px; 
  }

  .nav-storeit a {
    background: linear-gradient(to bottom, #fcde41 1%, #dfa910 100%); 
  }

  .nav-storeit a:hover {
    background: linear-gradient(to bottom, #dfa910 0%, #fcde41 100%); 
  }

  .nav-pickit a {
    background: linear-gradient(to bottom, #abc841 0%, #6b861e 100%); 
  }

  .nav-pickit a:hover {
    background: linear-gradient(to bottom, #6b861e 1%, #abc841 100%); 
  }

  .nav-cookit a {
    background: linear-gradient(to bottom, #6f89c7 0%, #344e8b 100%); 
  }

  .nav-cookit a:hover {
    background: linear-gradient(to bottom, #344e8b 1%, #6f89c7 100%); 
  }
}


// @media (min-width: 360px){
//  p {
//   display: block;
//   margin-right: auto;
//  }
// }


















