/* popover styles */
.betainfo {
  width: 200px;
  height: 100px;
  padding: 1rem;
  background: #fff;
  border: 2px solid #eabc5a;
  border-radius: 0.25rem;
  position: absolute;
  z-index: 2000;
  top: 50vh;
  left: calc(50vw - 100px);
  display: none; 
}

.closer {
  position: absolute;
  top: -10px;
  right: -10px;
  width: 1.5rem;
  height: 1.5rem;
  background: #fff;
  border: 2px solid #eabc5a;
  border-radius: 50%;
  text-align: center;
  line-height: 1.5rem;
  font-weight: bold; 
}

.shader {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.5); 
}

.show {
  display: block !important; 
}